html, body {height:100%;}

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

#wrap {
    min-width: 1280px;
    overflow: hidden;
}

#main, #footer {
    min-width: 1280px;
    padding-left: 90px;
    &.fp-auto-height {
        padding-left: 0;
    }
}
.container {
    margin: 0 auto;
    padding: 0 60px;
}

.container-sm {
    width: 980px;
    margin: 0 auto;
}

// slick dots
.slick-dots {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #999;
        margin: 0 5px;
        &.slick-active {
            background: #fff;
        }
        button {
            display: none;
        }
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}