html, body {height:100%;}

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

#main, #footer {
    min-width: 1280px;
    padding-left: 90px;
}
.container {
    margin: 0 auto;
    padding: 0 60px;
}

.container-sm {
    width: 940px;
    margin: 0 auto;
}