#footer {
  padding-top: 200px;
  .footer-menu {
    background-color: #fff;
    border-top: 1px solid #f5f4f4;
    .container {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .links {
      margin-left: -15px;
      a {
        font-size: 13px;
        padding: 15px;
        color: #999;
        &.em {
          color: #000;
        }
        &.bar {
          position: relative;
          &:after {
            content: '';
            width: 1px;
            height: 10px;
            background-color: #999;
            position: absolute;
            top: 20px;
            right: 0;
          }
        }
      }
    }
    nav {
      display: flex;
      .menu-item {
        position: relative;
        padding: 10px;
        &.site {
          width: 160px;
        }
        &.family {
          width: 150px;
        }
        &.language {
          width: 110px;
        }
        .name {
          display: flex;
          align-items: center;
          height: 70px;
          font-size: 12px;
          color: #222;
          cursor: pointer;
        }
        i {
          color: #555;
          margin-left: 10px;
          &.fa-chevron-down {
            display: none;
          }
          &.active {
            &.fa-chevron-down {
              display: block;
            }
            &.fa-chevron-up {
              display: none;
            }
          }
        }

        .dropdown {
          background-color: #fff;
          position: absolute;
          z-index: 100;
          bottom: 60px;
          right: 0;
          display: none;
          &.site {
            width: 623px;
            ul {
              background-color: #fff;
              display: flex;
              flex-wrap: wrap;
              border: 1px solid #555;
              li {
                flex: 25%;
                max-width: 25%;
                padding: 25px;
                border-right: 1px solid rgba(238, 234, 234, 0.81);
                margin: 20px 0;
              }
            }
          }
          &.family,
          &.language {
            border: 1px solid #555;
            a {
              padding: 10px;
            }
          }
          &.family {
            width: 150px;
          }
          &.language {
            width: 110px;
          }
          h5 {
            color: #222;
            font-size: 14px;
            margin-top: -20px;
          }
          a {
            display: flex;
            color: #999;
            font-size: 14px;
            padding: 10px 0;
            &:hover {
              text-decoration: underline;
              color: #000;
            }
          }
        }
        &.active {
          .fa-chevron-down {
            display: flex;
          }
          .fa-chevron-up {
            display: none;
          }
        }
      }
    }
  }

  .information {
    background-color: #f9f9f9;
    color: #999;
    font-size: 12px;
    line-height: 1.5;
    padding: 25px 0;
    span {
      position: relative;
      padding: 0 10px;
      margin-left: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 11px;
        margin-top: -5px;
        background: #d5d3d3;
      }
    }
    a {
      text-decoration: underline;
      color: #222;
    }
    p {
      padding: 20px 0;
    }
    .btn {
      position: relative;
      top: 4px;
      display: inline-block;
      background-color: #d5d3d3;
      border: 1px solid #eee;
      color: #999;
      font-size: 11px;
      text-decoration: none;
      padding: 3px 12px;
      overflow: hidden;
    }
  }
}